{$SITE_ADDRESS} {
	encode zstd gzip

	handle_path /api/* {
		reverse_proxy api:3100
	}

	handle /uploads/* {
		reverse_proxy api:3100
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		-Server
		Content-Security-Policy "default-src 'self'; base-uri 'self'; connect-src 'self'; font-src 'self' data:; form-action 'self'; frame-ancestors 'none'; img-src 'self' data: blob:; manifest-src 'self'; object-src 'none'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; worker-src 'self' blob:"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}
}

:2015 {
	respond /healthz "ok" 200
}
